include OpenRTM-aist.pth
include MANIFEST.in
include setup.py
include README
recursive-include packages/deb *.sh copyright changelog rules README* control control.* files
recursive-include OpenRTM_aist *.conf *.exe *.idl *.py *.pth *.sh
recursive-include OpenRTM_aist *.bat *.exe *.sample README
recursive-include OpenRTM_aist/docs *.css *.gif *.png *.html *.hhc *.hhk *.hhp
