include OpenRTM-aist.pth
include MANIFEST.in
include setup.py
include README
include installer *
recursive-include packages Makefile
recursive-include packages/deb *.sh copyright changelog rules README* compat control control.* files
recursive-include packages/rpm *.sh openrtm-aist.spec.in
recursive-include installer *.rtf *.in *.wxs *.vbs *.bmp *.txt *.sh *.wxl *.cmd *.py
recursive-include OpenRTM_aist *.conf *.exe *.idl *.py *.pth *.sh
recursive-include OpenRTM_aist *.bat *.exe *.sample README
recursive-include OpenRTM_aist/docs *.css *.gif *.png *.html *.hhc *.hhk *.hhp
